{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block title %}Horario de la sala{% endblock %}

{% block main %}

    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table text-center">
                <thead>
                    <tr class="bg-black-active text-center">
                        <th>Nombre Sala</th>
                        <th>Codigo Sala</th>
                        <th>Capacidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td>{{ classroom.name }}</td>
                        <td>{{ classroom.number }}</td>
                        <td>{{ classroom.classSize }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="table-responsive ">
            <table class="table text-center table-bordered">
                <thead>
                    <tr class="bg-black-active text-center">
                            <td>Bloques</td>
                        {% for weekday in weekdays %}
                            <td>{{ weekday.day }}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for schedule in data_schedule %}
                    <tr class="text-center">
                            <td class="bg-light-blue-active">{{ schedule.block }}</td>
                            <td class="bg-gray-active">{{ schedule.lunes }}</td>
                            <td class="bg-gray-active">{{ schedule.martes }}</td>
                            <td class="bg-gray-active">{{ schedule.miercoles }}</td>
                            <td class="bg-gray-active">{{ schedule.jueves }}</td>
                            <td class="bg-gray-active">{{ schedule.viernes }}</td>
                            <td class="bg-gray-active">{{ schedule.sabado }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
