{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block main %}

    <div class="panel" id="panel-alloc" data-url-new-allocation="{{ path('new_allocation') }}">
        <div class="content-header">
            <h1 class="title">Asignacion de Salas [{{ classroom.name }}] </h1>
        </div>
        <section class="panel-body">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-3">
                        <ol style="visibility:hidden;"><li>&nbsp;</li><li>&nbsp;</li></ol>
                        <div class="table-responsive">
                            <table class="table text-center">
                                <thead>
                                    <tr class="bg-blue-gradient text-center">
                                        <th>Nombre Sala</th>
                                        <th>Codigo Sala</th>
                                        <th>Capacidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center">
                                        <td>{{ classroom.name }}</td>
                                        <td>{{ classroom.number }}</td>
                                        <td>{{ classroom.classSize }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-9">

                        <div class="input-group">
                            <input class="box-input" type="text" id="inputClassName" onkeyup="filterName()" placeholder="Buscar por nombre">
                            <input class="box-input" type="text" id="inputClassNumber" onkeyup="filterNumber()" placeholder="Buscar por codigo">
                            <input class="box-input" type="text" id="inputClassProfessor" onkeyup="filterProfessor()" placeholder="Buscar por profesor">
                            <input class="box-input" type="text" id="inputSubject" onkeyup="filterSubject()" placeholder="Buscar por asignatura">
                            <input class="box-input" type="text" id="inputSchedule" onkeyup="filterSchedule()" placeholder="Buscar por horario">
                            <input class="box-input" type="text" id="inputClassSize" onkeyup="filterClassSize()" placeholder="Buscar por cant. alumnos">
                        </div>

                        <div class="table-responsive">
                            <table class="table text-center" id="classroomTable">
                                <thead>
                                    <tr class="bg-green-gradient text-center">
                                        <th>Asignar?</th>
                                        <th>Nombre</th>
                                        <th>Codigo Seccion</th>
                                        <th>Profesor</th>
                                        <th>Asignatura</th>
                                        <th>Horario</th>
                                        <th>Alumnos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for section in sections %}
                                        <tr class="text-center">
                                            <td><button data-section="{{ section.id }}" data-classroom="{{ classroom.id }}" data-loading-text="Confirmando..." class="btn btn-block btn-asignar">Confirmar</button></td>
                                            <td>{{ section.name }}</td>
                                            <td>{{ section.code }}</td>
                                            <td>{{ section.professor }}</td>
                                            <td>{{ section.subject.name }}</td>
                                            <td>{{ section.schedule.abv }}</td>
                                            <td>{{ section.classSize }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="4">No hay salas para asignar</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}

{% block body_javascript %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.24.4/dist/sweetalert2.all.min.js"></script>
    <script>

      $(document).ready(function () {
        $('.btn-asignar').click(function () {
          var url = $('#panel-alloc').data("url-new-allocation")
          $(this).button('loading')
          var section=$(this).data("section")
          var classroom=$(this).data("classroom")

          swal({
            title: 'Confirmar',
            text: "¿Deseas asignar esta sala a esta seccion?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, asignar',
            cancelButtonText: 'No, volver',
          }).then((result) => {
            if (result.value) {
              let timerInterval
              swal({
                title: 'Asignacion exitosa!',
                html: 'Tu asignacion a sido creada. Volviendo en <strong></strong> segundos',
                type: 'success',
                timer: 1700,
                onOpen: () => {
                  swal.showLoading()
                  timerInterval = setInterval(() => {
                    swal.getContent().querySelector('strong')
                      .textContent = swal.getTimerLeft()
                  }, 100)
                },
                onClose: () => {
                  clearInterval(timerInterval)
                }
              }).then((result) => {
                if (
                  result.dismiss === swal.DismissReason.timer
                ) {
                  return $.post(url,{section:section, classroom:classroom})
                    .done(function( data ) {
                      window.location.replace(data.url);
                    });
                }
              })

            } else if (
              result.dismiss === swal.DismissReason.cancel
            ) {
              swal(
                'Asignacion cancelada',
                'Seleccione otra seccion a asignar',
                'error'
              )
              $(this).button('reset')
            }
          })
        })


      })

      function filterNumber() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("inputClassNumber");
        filter = input.value.toUpperCase();
        table = document.getElementById("classroomTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[2];
          if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }

      function filterName() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("inputClassName");
        filter = input.value.toUpperCase();
        table = document.getElementById("classroomTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1];
          if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }

      function filterClassSize() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("inputClassSize");
        filter = input.value.toUpperCase();
        table = document.getElementById("classroomTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[6];
          if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }

      function filterProfessor() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("inputClassProfessor");
        filter = input.value.toUpperCase();
        table = document.getElementById("classroomTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[3];
          if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }

      function filterSubject() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("inputSubject");
        filter = input.value.toUpperCase();
        table = document.getElementById("classroomTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[4];
          if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }

      function filterSchedule() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("inputSchedule");
        filter = input.value.toUpperCase();
        table = document.getElementById("classroomTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[5];
          if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }

    </script>
{% endblock body_javascript %}


