{% extends 'base.html.twig' %}

{% block title %}Block{% endblock %}

{% block content %}
    <h1>Block</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ block.id }}</td>
            </tr>
            <tr>
                <th>Block_time</th>
                <td>{{ block.blockTime }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('block_index') }}">back to list</a>

    <a href="{{ path('block_edit', {'id': block.id}) }}">edit</a>

    {{ include('block/_delete_form.html.twig') }}
{% endblock %}